<% if @panne.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      La formulaire contient <%= pluralize(@panne.errors.count, "erreur") %>.
    </div>
    <ul>
    <% @panne.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>