<% provide(:title, "Soumettre Panne") %>
<% provide(:button_text, 'Soumettre') %>
<h1 class="page-header">Soumettre Panne</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
 </div>
</div>
